<h1 mat-dialog-title>Add Products Form</h1>
<div mat-dialog-content>
    <form [formGroup]="productForm">
        <mat-form-field appearance="outline">
            <mat-label>Product Name</mat-label>
            <input matInput placeholder="Name" formControlName="productName">
        </mat-form-field>
    
        <mat-form-field appearance="outline">
            <mat-label>Product Category</mat-label>
            <mat-select placeholder="Category" formControlName="category">
                <mat-option value="Fruits">Fruits</mat-option>
                <mat-option value="Vegetables">Vegetables</mat-option>
                <mat-option value="Electronics">Electronics</mat-option>
                <mat-option value="other">Other</mat-option>
            </mat-select>
        </mat-form-field>
    
        <mat-form-field appearance="outline">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
    
          <label for=""><b>About Product</b></label>
          <mat-radio-group  class="example-radio-group" formControlName="prodlist">
              <mat-radio-button class="example-radio-button" *ngFor="let fresh of prodList" [value]="fresh">
                {{fresh}}
              </mat-radio-button>
          </mat-radio-group>
    
          <mat-form-field appearance="outline">
            <mat-label>Price</mat-label>
            <input matInput placeholder="Name" type="number" formControlName="price">
        </mat-form-field>
          
        <mat-form-field appearance="outline">
            <mat-label>Comment</mat-label>
           <textarea formControlName="comment" matInput></textarea>
        </mat-form-field>
    </form>

</div>

<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="primary" (click)="addprod()" type="submit">{{actionBtn}}</button>
    <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>


</div>